<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>First App</ion-card-title>
      <ion-card-subtitle>Class Example</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This is th first component used in a Ionic app using the Tabs Template.
    </ion-card-content>
  </ion-card>

  <!-- <ion-button>Default</ion-button> <ion-button [disabled]="true">Disabled</ion-button> -->
  
</ion-content>
